    <tr>
      <td>
        <% if user.avatar.attached? %>
          <%= image_tag user.avatar.variant(resize_to_fill: [30, 30]) %>
        <% end %>
      </td>
      <td><%= user.email %></td>
      <td><%= user.name %></td>
      <td><%= user.self_introduction %></td>
      <td><%= link_to t('views.common.show'), user_path(user) %></td>
    </tr>
