
<p>
  <strong><%= "email" %>:</strong>
  <%= @user.email %>
</p>

<p>
  <strong><%= "zipcode" %>:</strong>
  <%= @user.zipcode %>
</p>

<p>
  <strong><%= "address" %>:</strong>
  <%= @user.address %>
</p>

<p>
  <strong><%= "introduction" %>:</strong>
  <%= @user.introduction %>
</p>

