<p id="notice"><%= notice %></p>

<p>
  <strong><%= Report.human_attribute_name(:title) %>:</strong>
  <%= @report.title %>
</p>

<p>
  <strong><%= Report.human_attribute_name(:comment) %>:</strong>
  <%= @report.comment %>
</p>

<p>
  <strong><%= Report.human_attribute_name(:user) %>:</strong>
  <%= @report.user.name_or_email %>
</p>

<p>
  <strong><%= Report.human_attribute_name(:created_at) %>:</strong>
  <%= @report.created_at %>
</p>


<% if @report.user == current_user %>
<%= link_to t('views.common.edit'), edit_report_path(@report) %> |
<% end %>
<%= link_to t('views.common.back'), reports_path %>
